.container {
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;

  font-family: "Roboto";
}

.mainForm {
  width: 600px;
  background: #fafafa;
  border-radius: 5px;
  padding: 15px;

  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .5);
}

.header {
  margin: 15px 0;
  padding-bottom: 10px;
  border-bottom: 1px dashed rgb(139, 139, 139);
  margin-bottom: 30px;
}

.gameBoard {
  display: flex;
}

.history {
  width: 300px;
  background: #deffe7;
  padding: 10px 15px;
  border-radius: 5px;

  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    div {
      display: flex;
      align-items: center;
    }
  }
}

.cow, .bull {
  background-size: contain;
  background-repeat: no-repeat;
  width: 22px;
  height: 24px;
  display: block;
}

.cow {
  background-image: url('./images/milk-cow.png');
}

.bull {
  background-image: url('./images/bull.png');
}

.game {
  display: flex;
  justify-content: space-between;
  &Input {
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 16px;

    &:focus {
      outline: none;
      border: 1px solid rgba(0, 0, 0, .2);
      box-shadow: 0px 0px 10px 1px rgba(204, 255, 180, .4);
    }
  }
  &Form {
    width: 250px;
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 5px;
    }
  }
}

.error {
  color: rgb(255, 55, 55);
  font-size: 12px;
}

.win {
  font-size: 24px;
  margin-top: 15px;
  color: rgb(45, 250, 26);
}