.btn {
    padding: 10px 15px;
    background: rgb(55, 101, 255);
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all .2s ease-out;
    color: rgb(243, 243, 243);
    cursor: pointer;

    &:hover {
        background: rgb(82, 122, 255);
        opacity: .7;
    }
}